{% load i18n %}

<div class="position-entry"
     id="position-{{ instance.pk }}">

    <div class="position-duration {% if forloop.last %}last{% endif %} {% if forloop.first %}first{% endif %}">
        <div class="duration-circle"
             style="width: {{ instance.get_relative_length }}px;
                     height: {{ instance.get_relative_length }}px;
                     margin-left: -{% widthratio instance.get_relative_length 2 1 %}px;
                     margin-top: -{% widthratio instance.get_relative_length 2 1 %}px;
                     "></div>
        {% if instance.get_relative_length > 18 %}
            <div class="duration-label">{{ instance.get_month_diff_string }}{{ instance.count }}</div>{% endif %}
    </div>

    <div class="position-block">
        <div class="position-header">
            <h2>{{ instance.title }}, </h2>
            <h3><a href="{{ instance.website }}">{{ instance.company }}</a></h3>
        </div>
        <div class="position-meta">
            <span class="entry-date">{{ instance.start_date }}</span>
            {% if instance.active_post %}
                <span class="until-now">{% trans ' until now.' %}</span>
            {% else %}
                <span class="end-date">{% trans ' until' %} {{ instance.end_date }}</span>
            {% endif %}
        </div>
        <div class="position-content">
        <span class="position-description">
            {{ instance.description | safe }}
        </span>
        </div>
    </div>
</div>