{% load i18n %}

<div class="position-entry" id="position-{{ instance.pk }}">

    {# Make duration fixed width #}
    {# Bubble is percentage of that #}
    {# Line in middle, striped #}

    <div class="position-duration">
        <div class="duration-circle">{{ instance.get_month_diff_string }}</div>
{#        <div class="duration-label"></div>#}
    </div>

    <div class="position-block">
        <div class="position-header">
            <h2>{{ instance.title }}</h2>
            <h3><a href="{{ instance.website }}">{{ instance.company }}</a></h3>
        </div>
        <div class="position-meta">
            <span class="entry-date">{{ instance.start_date }}</span>
            {% if instance.active_post %}
                <span class="until-now">{% trans ' until now.' %}</span>
            {% else %}
                <span class="end-date">{{ instance.end_date }}</span>
            {% endif %}
        </div>
        <div class="position-content">
        <span class="position-description">
            {{ instance.description | safe }}
        </span>
        </div>
    </div>
</div>